.music-info
{
	max-width: 100%;
	white-space: nowrap;
	padding:     0px 15px 0px 15px;
}

.pl-img
{
	width: 64px;
	height: 64px;
}

.pl-item
{
	display: flex;
	height: 64px;
	border-bottom: 1px #C0C0C0 solid;
}

.music-info *
{
	overflow:      hidden;
	text-overflow: ellipsis;
}

#playlist
{
	overflow: auto;
	min-height: 70%;
	top: 100%;
	height: 100%;
	background-color: #D5D5D5;
	box-shadow: 0 9px 12px -10px black inset;
	padding-top: 7px;
}

.box
{
	width:    100%;		/* desired width */
	position: relative;
}

.opt-menu
{
	margin: 0;
	padding: 0 5px 5px 5px;
}

.opt-menu:hover
{
	 text-shadow: 0 0 6px #3B5788;
}

.fa.pull-right
{
	margin-left: 0;
}

.box:before
{
	content:     "";
	display:     block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.dummy-content
{
	width: 100%;
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.custom-menu
{
    z-index: 1000;
    position: absolute;
    background-color: #FFF;
    border: 1px solid grey;
    padding: 2px;
	box-shadow: 0 0 24px -6px black;
}

.music-box
{
	box-shadow:          0 3px #DDD, 0 2px 18px -6px;
	border-radius:		 7px;
	width:				 100%;
	margin-top:			 30px;
	display:			 inline-block;
	overflow: hidden;
	background-color:	 #F6F6F6;
}

.nav-bar:hover
{
	width: 160px;
}

.nav-bar
{
	position: fixed;
	z-index: 2;
	transition: 0.3s;
	width: 50px;
	height: 100%;
	background-color: #39517c;
	top: 0;
}

.music-bar
{
	background-color: #e6e6e6;
	position: fixed;
	width: 100%;
	height: 72px;
	left: 0px;
	bottom: 0;
	box-shadow: 0px 0px 16px -2px;
 	z-index: 1;
}

::-webkit-scrollbar { 
    display: none; 
}

#current-info
{
	display: inline-flex;
}

#current-tags
{
	display: block;
	margin-left: 10px;
}

.content
{
	width: 100%;
	display: inline-block;
	margin-bottom: 85px;
}

.swipeleft
{
	background-color: black;
}

#current-playing
{
	min-width:  66px;
	height: 66px;
	margin: 0;
}

.ctrl-buttons
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

@media screen and (max-width: 596px)
{
	.box
	{
		width: 50%;
	}

	.music-info
	{
		max-width: 50%;
	}

	.opt-menu
	{
		padding-top: 10px;
	}

	.music-box
	{
		display: inline-flex;
	}

	.ctrl-buttons
	{
		position: relative;
		left: 85%;
		margin-top: 10px;
		margin-left: 0;
		margin-right: auto;
	}
}

hr
{
	margin-top: 0;
	margin-bottom: 5px;
}

#pl-reveal
{
	margin-top: 10px;
	margin-right: .3em;
}

#music-ctrl
{
	display: inline-flex;
	position: absolute;
	width: 100%;
	height: 66px;
	left: 0;
}

#music-ctrl i
{
	margin-left: 10px;
}

.toggled
{
	text-shadow: 0 0 12px #3B5788;
	transition: transform, 0.5s;
	transform: rotateX(180deg);
}

.context-menu
{
	background-color: white;
	padding: 5px 20px 5px;
	border: 1px rgb(186, 186, 186) solid;
	box-shadow: 0 0 24px -6px;
}

.context-menu hr
{
	border-top: 1px rgb(166, 166, 166) solid;
}

.context-menu *
{
	white-space: nowrap;
}


.context-menu
{
	background-color: white;
	padding: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px rgb(186, 186, 186) solid;
	box-shadow: 0 0 24px -6px;
}

.context-menu .menu-item
{
	cursor: default;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 20px;
	background-color: white;
}

.context-menu .menu-item:hover
{
	color: white;
	background-color: rgb(81, 146, 209);
}




































































































.ui-slider
{
	background-color: black;
	border-radius: 0px;
	display: block;
}

.ui-slider-horizontal
{
	height: 6px;
	border: none;
	border-radius: 0px;
	display: block;
}

.ui-slider-range
{
	height: 6px;
	background: #3B5788;
	border-radius: 0px;
	display: block;
}

.ui-slider-handle, .ui-state-default
{
	position: absolute;
	height: 12px;
	width: 12px;
	background: #3B5788;
	border-radius: 20px;
	border: none;
	display: block;
	top: -3px;
	margin-left: -7px;
	outline-color: transparent;
}

.ui-widget-content
{
	background: #6A8DCB;
	display: block;
}