<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8"/>
		<meta name=viewport content="width=device-width, initial-scale=1">
		<title>MMPD</title>
		<link href='http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
  		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/style.css">
	</head>
	<body>
		<div class="music-bar">
			<div id="time-slider">
			</div>
			<div id="current-info">
				<img id="current-playing" src="/mpd/songs/current/cover"></img>
				<div id="current-tags">
					<h4 class="h4">{{current.tags.title}}</h4>
					<h6 class="h6">{{current.tags.artist}}</h6>
				</div>
			</div>
			<!-- <div id="music-ctrl">
				<i					class="fa fa-3x fa-fast-backward"></i>
				<i id="ctrl-btn"	class="fa fa-3x fa-play"></i>
				<i					class="fa fa-3x fa-fast-forward"></i>
			</div>-->
		</div>
		
		<!--<div class="nav-bar">
			<div>
				<div class="visible-xs">xs</div>
				<div class="visible-sm">sm</div>
				<div class="visible-md">md</div>
				<div class="visible-lg">lg</div>
			</div>
		</div>-->
		<div class="content" id="music-list">
			<!--
			<div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
			 	<div class="music-box">
			 		<div class="box"><img class="dummy-content" src="/mpd/songs/current/cover"></img></div>
			 		<div class="music-info">
			 			<h4 class="h4">{{tags.title}}</h4>
			 			<h6 class="h6">{{tags.artist}}</h6>
						<hr>
			 		</div>
			 	</div>
			</div>
			-->
		</div>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		<script src="/assets/js/main.js"></script>
	</body>
</html>
