<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8"/>
		<meta name=viewport content="width=device-width, initial-scale=1">
		<title>MMPD</title>
		<link href='http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
  		<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/style.css">
	</head>
	<body>
		<div class="music-bar">
			<div id="time-slider">
			</div>
			<div id="current-info">
				<img id="current-playing" src="/mpd/songs/current/cover"></img>
				<div id="current-tags">
					<h4 class="h4">{{current.tags.title}}</h4>
					<h6 class="h6">{{current.tags.artist}}</h6>
				</div>
			</div>
			<i id="pl-reveal" class="fa fa-3x fa-angle-up pull-right"></i>
			<div id="playlist">
				{% for i in 0..12 %}
				<div class="pl-item">
					<img class="pl-img" src="/mpd/songs/7fd23c39153318d13eb53deb7c76d3f7/cover">
					<p class="pl-title"> Ceci est le nom de la musique</p>
					<p class="pl-artist">Ceci est le nom de l'artiste</p>
				</div>
				{% endfor %}
			</div>
			<!-- <div id="music-ctrl">
			   <div class="ctrl-buttons">
			   <i					class="fa fa-2x fa-fast-backward"></i>
			   <i id="ctrl-btn"	class="fa fa-3x fa-play"></i>
			   <i					class="fa fa-2x fa-fast-forward"></i>
			   </div>
			   </div>-->
		</div>
		<div class="content" id="music-list">
		</div>
		<script src="/assets/js/jquery-2.1.3.js"></script>
		<script src="/assets/js/jquery-ui.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		<script src="/assets/js/main.js"></script>
	</body>
</html>
